<section class="py-4 py-lg-6">
  <div class="container text-center">
    <div class="p-5 mb-4 lc-block">
      <div class="lc-block mb-4">
        <img src="../../../assets/logos/logo-nobg.png" width="150" alt="">
        <div editable="rich">
          <h1 class="display-1 fw-bold">Get in Touch</h1>
        </div>
      </div>
      <div class="lc-block mb-5">
        <div editable="rich">
          <p class="lead">
            We would love to hear from you.<br />Feel free to reach out using
            the below details.
          </p>
        </div>
      </div>
      <div class="lc-block pb-4 col-6 mx-auto">
        <hr />
      </div>
      <div class="lc-block">
        <div editable="rich">
          <p class="rfs-8">
            <strong>ADDRESSES</strong>: Casablanca, Morocco | Douala,
            Cameroon<br /><strong>PHONE</strong>: 123-456-7890<br /><strong
              >EMAIL</strong
            >: info@mtapp.com
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
