<div class="results mt-5 d-flex justify-content-between">
  <p>Results: <span class="mx-2"> 122</span></p>
  <p>Sort By <i class="fa-solid fa-chevron-down"></i></p>
</div>

<div class="products">
  <div class="card" style="width: 18rem">
    <img
      src="https://i.postimg.cc/qvQM31jM/article-1.png"
      class="card-img-top"
      alt="item image"
    />
    <div class="card-body bg-dark text-center text-white">
      <div class="title">
        <h1>Cup</h1>
      </div>
      <div class="price">10</div>
    </div>
    <app-button text="add to cart"></app-button>
  </div>
</div>
