<div class="results mt-5 d-flex justify-content-between">
  <p>
    Results: <span class="mx-2">{{ products.length }}</span>
  </p>
  <p>Sort By <i class="fa-solid fa-chevron-down"></i></p>
</div>

<div class="products">
  <ng-container
    *ngFor="
      let product of products
        | paginate : { itemsPerPage: 9, currentPage: page }
    "
  >
    <mat-card style="width: 30%; height: 400px">
      <div class="image-background">
        <img [src]="product.imgURL" class="card-img" [alt]="product.name" />
      </div>
      <mat-card-content class="card-content">
        <div class="title">
          <h5>{{ product.name }}</h5>
        </div>
        <div style="text-align: justify">
          <p class="desc">{{ product.description }}</p>
        </div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <div class="price">{{ product.price | currency }}</div>
          <div style="display: flex; gap: 10px">
            <div class="card-button"><mat-icon>shopping_cart</mat-icon></div>
            <div class="card-button"><mat-icon>info</mat-icon></div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <div class="pagination-container">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
