<section id="hero">
  <div class="hero-img">
    <div class="container">
      <h1 class="hero-text">
        visit our e-shop <br /><br />
        & get the best tech tools.
      </h1>
    </div>
  </div>
</section>

<section class="container pt-5">
  <div style="cursor: pointer" class="float-end">
    <i routerLink="/cart" class="fa-solid fa-2x fa-cart-plus"></i>
  </div>
</section>

<section>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-3">
        <app-filter></app-filter>
      </div>
      <div class="col-md-9">
        <app-products></app-products>
      </div>
    </div>
  </div>
</section>
