body {
  background-color: #1c2331;
}

.hero-img {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.hero-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../../assets/bg/bg2.jpg) center/cover no-repeat;
  filter: blur(5px); /* Adjust the blur amount as needed */
  z-index: -1;
}

.hero-text {
  font-size: 5em;
  text-transform: capitalize;
  padding-top: 2em;
  z-index: 1; /* Ensure the text appears above the blurred background */
  color: #fff; /* Set the text color, assuming you want it to be white */
}