<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img width="10%" src="../../../assets/logos/logo.png" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="eshop">ESHOP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="account">MY ACCOUNT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
