<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #6351ce"
>
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img
        class="img-fluid"
        width="15%"
        src="https://i.postimg.cc/tCtKr5FF/logo-nobg.png"
        alt="logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >HOME</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="eshop" routerLinkActive="active"
            >ESHOP</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active"
            >CONTACT</a
          >
        </li>
        <ng-container *ngIf="isAuthenticated; else guest">
          <li class="nav-item">
            <a class="nav-link" routerLink="account" routerLinkActive="active"
              >MY ACCOUNT</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" routerLinkActive="active"
              >Log out</a
            >
          </li>
        </ng-container>
        <ng-template #guest>
          <li class="nav-item">
            <a class="nav-link" routerLink="account" routerLinkActive="active"
              >Sign in</a
            >
          </li>
        </ng-template>

        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register" routerLinkActive="active"
            >Register</a
          >
        </li> -->
      </ul>
    </div>
  </div>
</nav>
