.nav-link {
  color: white;
  font-family: 'Syncopate', sans-serif;
  font-size: larger;
}

.active {
  font-weight: bolder;
  text-decoration: underline;
  color: white !important;
}

.navbar-toggler-icon {
  color: white;
}