.wrapper {
  max-width: 80%;
  margin: 0 auto;
  padding: 50px;
  background: rgb(21, 47, 89);
  background: linear-gradient(
    180deg,
    rgba(21, 47, 89, 1) 12%,
    rgb(0, 0, 0) 95%
  );
  .image {
    outline: 2px darkgray solid;
  }
}

li {
  color: white !important;
}

h4 {
  font-family: 'Syncopate', sans-serif;
}

h5 {
  color: #6351CE !important;
}