<br /><br /><br />
<div class="container container-largeur" style="margin-bottom: 30px;">
  <div class="row">
    <div class="d-flex justify-content-between">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/eshop">Eshop</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <a routerLink="/cart">Cart</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Overview</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="wrapper">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <p class="fs-3">Order</p>
        <p>({{ productsOrder.length }} products)</p>
      </div>
      <i class="fa-solid fa-2x fa-xmark cursor-pointer"></i>
    </div>

    <ng-container *ngFor="let product of productsOrder">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img
            class="order-img"
            [src]="product.imgURL"
            [alt]="product.name"
          />
          <div class="info-product mx-3">
            <h5 class="text-muted text-capitalize">
              {{ product.category }}
            </h5>
            <div class="nom_product">
              <h4 class="text-capitalize">{{ product.name }}</h4>
            </div>
            <div class="price">
              <h2>{{ product.price | currency : "EUR" }}</h2>
            </div>
          </div>
        </div>
        <div class="delete">
          <i class="fa-solid text-muted fa-xmark">...</i>
        </div>
      </div>
      <br />
    </ng-container>
    <br />

    <hr />
    <div class="d-flex justify-content-between">
      <p><strong>Total</strong></p>
      <p>{{ total | currency : "EUR" }}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p><strong>Tax</strong></p>
      <p>10%</p>
    </div>
    <hr />
    <div class="d-flex justify-content-between">
      <p><strong>Total after TAX</strong></p>
      <p>{{total - (total *  (10 / 100))| currency : "EUR"}}</p>
    </div>
    <div style="display: flex;justify-content: flex-end;">
      <div routerLink="/cart"
    style="cursor: pointer;" class="order-button">Back to cart</div>
      <!-- <app-button class="mx-2" routerLink="/cart" text="Back to cart"></app-button> -->
      <div routerLink="/delivery"
    style="cursor: pointer;" class="order-button">Confirm My Purchase</div>
    </div>
  </div>
</div>
