<br /><br /><br />
<div class="container container-largeur">
  <div class="row">
    <div class="d-flex justify-content-between">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/eshop">Eshop</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <a routerLink="/cart">Cart</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Overview</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="wrapper">
    <div class="d-flex justify-content-between">
      <p class="fs-3">Order</p>
      <p>{{ productsOrder.length }}</p>
      <i class="fa-solid fa-2x fa-xmark cursor-pointer"></i>
    </div>

    <ng-container *ngFor="let product of productsOrder">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center py-3">
          <img
            width="20%"
            height="20%"
            class="image"
            [src]="product.imgURL"
            [alt]="product.name"
          />
          <div class="info-product mx-3">
            <h5 class="text-muted text-capitalize">
              {{ product.category }}
            </h5>
            <div class="nom_product">
              <h4 class="text-capitalize">{{ product.name }}</h4>
            </div>
            <div class="price">
              <h2>{{ product.price | currency : "EUR" }}</h2>
            </div>
          </div>
        </div>
        <div class="delete">
          <i class="fa-solid text-muted fa-xmark">...</i>
        </div>
      </div>
      <br />
    </ng-container>
    <br />

    <div class="row">
      <div>
        <input type="text" placeholder="Promo Code " />
        <button class="btn btn-outline-primary mx-4 px-5">ADD</button>
      </div>
    </div>

    <hr />
    <div class="d-flex justify-content-between">
      <p><strong>Total</strong></p>
      <p>{{ total | currency : "EUR" }}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p><strong>Discount</strong></p>
      <p>-</p>
    </div>
    <div class="d-flex justify-content-between">
      <p><strong>Tax</strong></p>
      <p>-</p>
    </div>
    <hr />
    <div class="d-flex justify-content-between">
      <p><strong>Final Total</strong></p>
      <p>Total</p>
    </div>
  </div>
</div>
<section class="container container-largeur d-flex mx-auto my-5">
  <app-button class="mx-2" routerLink="/cart" text="Back to cart"></app-button>
  <app-button
    class="mx-2"
    routerLink="delivery"
    text="Confirm My Purchase"
  ></app-button>
</section>
