.wrapper {
  max-width: 80%;
  margin: 0 auto;
  padding: 50px;
  background-color: #6351CE;
  border-radius: 10px;
}
.order-img {
  width: 100px;
  border-radius: 10px;
  height: 100px;
  object-fit: contain;
  background-color: white;
  padding: 10px;
  // aspect-ratio: auto;
}
li {
  color: white !important;
}

h4 {
  font-family: 'Syncopate', sans-serif;
}

h5 {
  color: #6351CE !important;
}

.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  background-color: #1C2331 !important;
}