.hero-image {
  background: url(../../../assets/bg/bg2.avif) center/cover no-repeat;
  height: 800px;
}

h2 {
  font-family: 'Syncopate', sans-serif;
}

.login-form {
  background-color: #6351ce;
  max-width: 32%;
  padding: 40px;
  margin-top: -35%;
  margin-bottom: 100px;
  border-radius: 10px;
  .form {
    background-color: #1c2331;
    padding: 15px;
    border-radius: 10px;
  }
}