<section id="hero">
  <div class="hero-image">
    <div class="container">
      <h1 class="hero-title text-uppercase text-white"></h1>
    </div>
  </div>
</section>
<section class="register">
  <div class="container register-form">
    <div class="head text-center">
      <h2>Register</h2>
      <p>
        Already have an account?
        <a routerLink="/signin" class="text-white">Sign In Here!</a>
      </p>
    </div>
    <div class="form-body">
      <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            [ngClass]="{
              'is-invalid':
                registerForm.get('name')?.touched &&
                registerForm.get('name')?.invalid
            }"
            formControlName="name"
            type="text"
            class="form-control"
            id="name"
            aria-describedby="emailHelp"
            placeholder="name"
          />
          <br />
          <span
            *ngIf="
              registerForm.controls['name'].dirty &&
              registerForm.hasError('required', 'name')
            "
            class="text-danger"
            >*Name can't be blank</span
          >
        </div>
        <div class="mb-3">
          <label for="firstname" class="form-label">First Name</label>
          <input
            [ngClass]="{
              'is-invalid':
                registerForm.get('firstname')?.touched &&
                registerForm.get('firstname')?.invalid
            }"
            formControlName="firstname"
            type="text"
            class="form-control"
            id="firstname"
            aria-describedby="emailHelp"
            placeholder="firstname"
          />
          <br />
          <span
            *ngIf="
              registerForm.controls['firstname'].dirty &&
              registerForm.hasError('required', 'firstname')
            "
            class="invalid-feedback"
            >*First name can't be blank</span
          >
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Login</label>
          <input
            [ngClass]="{
              'is-invalid':
                registerForm.get('email')?.touched &&
                registerForm.get('email')?.invalid
            }"
            formControlName="email"
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="email"
          />
          <br />
          <span
            *ngIf="
              registerForm.controls['email'].dirty &&
              registerForm.hasError('required', 'email')
            "
            class="invalid-feedback"
            >*Email can't be blank</span
          >
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            [ngClass]="{
              'is-invalid':
                registerForm.get('password')?.touched &&
                registerForm.get('password')?.invalid
            }"
            formControlName="password"
            type="password"
            class="form-control"
            id="password"
            placeholder="password"
          />
          <br />
          <span
            *ngIf="
              registerForm.controls['password'].dirty &&
              registerForm.hasError('required', 'password')
            "
            class="invalid-feedback"
            >*Password can't be blank</span
          >
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Confirm Password</label
          >
          <input
            [ngClass]="{
              'is-invalid':
                registerForm.get('confirmPassword')?.touched &&
                registerForm.get('confirmPassword')?.invalid
            }"
            formControlName="confirmPassword"
            type="password"
            class="form-control"
            id="confirmPassword"
            placeholder="confirm password"
          />
          <br />
          <span class="invalid-feedback">Password must match</span>
        </div>

        <div class="d-grid mx-auto">
          <app-button class="mx-2" text="CONFIRM"></app-button>
        </div>
      </form>
    </div>
  </div>
</section>
