@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Syncopate&display=swap');

// Reset all default styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend', sans-serif !important;
  background-color: #1c2331 !important;
  color: white !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
