<div style="display: flex;justify-content: center;" *ngIf="type !== 'myAccount'; else myAccount">
        <mat-card style="width: 30%;margin: 20px;">
            <mat-card-content>
                <div style="display: flex;align-items:center; flex-direction: column;gap: 20px;">
                    <img src="../../../assets/logos/logo.png" width="150" alt="">
                    <h1 style="color: black;">{{ type == 'login' ? 'Login' : 'Register'}} </h1>
                      <mat-form-field appearance="outline" style="width: 80%;" *ngIf="type === 'register'">
                        <mat-label>Full name</mat-label>
                        <input matInput placeholder="Email">
                      </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 80%;">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email">
                      </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 80%;">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon style="color: #6351CE;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
                      <button style="background-color: #6351CE !important; width: 200px;" mat-raised-button color="primary">{{ type == 'login' ? 'Login' : 'Register'}}</button>
            </div>
            </mat-card-content>
        </mat-card>
</div>

<ng-template #myAccount>
    <p>My Account works!</p>
</ng-template>