<!-- <section id="hero">
  <div class="hero-image">
    <div class="container">
      <h1 class="hero-title text-uppercase text-white">
        Votre identité <br />
        Secrete...
      </h1>
    </div>
  </div>
</section> -->
<section>
  <div class="container">
    <div class="d-flex justify-content-around mt-5">
      <div class="aside-menu">
        <nav>
          <ul class="d-flex flex-column">
            <a href="">Informations</a>
            <a href="">Order history</a>
            <a href="">My reviews</a>
            <a href="">My favorites</a>
            <app-button
              class="mt-5"
              (click)="logout()"
              text="LOGOUT"
            ></app-button>
          </ul>
        </nav>
      </div>
      <div class="compte-info my-5">
        <div class="info-perso">
          <h1 class="my-4">Personal informations</h1>
          <div class="content">
            <p>Name: Dupont</p>
            <p>First Name : Edeline</p>
            <p>Password: lorem ipsum</p>
            <p>Email: edelineprty@gmail.com</p>
            <p>Phone Number: 060612756</p>
            <p>Delivery Address : rue panamericaine, 234, marve 43,PARIS</p>
            <p>Billing Address : rue panamericaine, 234, marve 43,PARIS</p>
          </div>
          <app-button text="MODIFY"></app-button>
        </div>
        <div class="info-newsletter">
          <h1 class="my-4">Newsletter</h1>
          <div class="content">
            <p>
              Subscribe to our newsletter! Don't miss out on our on your
              favourite item!
            </p>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault1"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault2"
                checked
              />
              <label class="form-check-label" for="flexRadioDefault2">
                No
              </label>
            </div>
          </div>
          <app-button text="REGISTER"></app-button>
        </div>
      </div>
      <div class="newsletter"></div>
    </div>
  </div>
</section>

<!-- <div style="display: flex;justify-content: center;" *ngIf="type !== 'myAccount'; else myAccount">
        <mat-card style="width: 30%;margin: 20px;">
            <mat-card-content>
                <div style="display: flex;align-items:center; flex-direction: column;gap: 20px;">
                    <img src="../../../assets/logos/logo.png" width="150" alt="">
                    <h1 style="color: black;">{{ type == 'login' ? 'Login' : 'Register'}} </h1>
                      <mat-form-field appearance="outline" style="width: 80%;" *ngIf="type === 'register'">
                        <mat-label>Full name</mat-label>
                        <input matInput placeholder="Email">
                      </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 80%;">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email">
                      </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 80%;">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon style="color: #6351CE;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
                      <button style="background-color: #6351CE !important; width: 200px;" mat-raised-button color="primary">{{ type == 'login' ? 'Login' : 'Register'}}</button>
            </div>
            </mat-card-content>
        </mat-card>
</div>

<ng-template #myAccount>
    <p>My Account works!</p>
</ng-template> -->
