// .hero-image {
//   background: url(../../../assets/bg/bg2.avif) center/cover no-repeat;
//   height: 800px;
//   background-position: center;
//   background-color: black;
//   background-size: cover;
//   background-repeat: no-repeat;
// }

// .hero-title {
//   padding-top: 4em;
//   font-size: 3em;
//   font-weight: bolder;
//   text-shadow: white 0px 10px 30px;
// }

a {
  padding-top: 15px;
  color: white;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
}

.info-perso,
.info-newsletter {
  padding-left: 30px;
  border-left: 3px white solid;
}